.home-page {
  .bg-university-secondary {
    background-color: #005096;
  }

  .hero-section {
    .bg-university-secondary-400 {
      background-color: #fff;
      align-items: center;
      justify-content: center;
      display: flex;

      img {
        position: relative;
        display: block;
        margin: auto;
      }
    }

    .container {
      padding-top: 12rem;

      @media screen and (max-width: 750px) {
        padding-top: 17rem;
      }

      .bg-glow {
        @media screen and (max-width: 550px) {
          font-size: 24pt;
        }
      }
    }
    .bg-university-primary\/10 {
      background-color: #020a5c46 !important;
    }
  }

  .home-header {
    background-color: #005096;
  }

  .text-university-secondary-600 {
    color: #005096;
  }

  .border-university-secondary-800 {
    border-color: #e5e7eb;
  }

  .text-university-secondary-700 {
    color: #005096;
  }

  .home-footer {
    svg {
      stroke: #ffffff;
    }
  }
}

.login-form,
.forgot-password {
  .text-university-secondary-700 {
    color: #005096;
  }

  .ant-input-password {
    height: 40px;
  }
}

header {
  .university-name {
    @media screen and (max-width: 1080px) {
      font-size: 13px !important;
    }
    @media screen and (max-width: 850px) {
      font-size: 12px !important;
      max-width: 100% !important;
    }
    @media screen and (max-width: 330px) {
      display: none;
    }
  }
}

.profile-steps {
  .ant-skeleton {
    width: 100%;
  }
}
